*,
*::before,
*::after {
    box-sizing: border-box;
}


.quizcontent {
width: 800px;
max-width: 80%;
background-color: gold;
border-radius: 5px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}

.btngrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}
